.container {
  width: 1200px;
  margin: 0 auto;
}

.img-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 64px;
  font-weight: 500;
  color: #081323;
}

.text {
  font-size: 24px;
  font-weight: 400;
  color: #4f4f4f;
}
.logo-img {
  width: 46px;
  height: 46px;
}
.bag {
  width: 39px;
  height: 37px;
}

.star-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.plus-img {
  width: 50px;
  height: 50px;
}

.camille-img {
  width: 250px;
  height: 250px;
}

.img-room1 {
  width: 550px;
}
.img-room2 {
  width: 550px;
}

.img-living-room-height {
  width: 600px;
}

.icons {
  width: 68px;
  height: 68px;
}

.shape-img {
  width: 45px;
  height: 45px;
}

.shape {
  background-color: transparent;
  position: relative;
  cursor: pointer;
  object-fit: cover;
}
.relative {
  position: relative;
}
